<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%# <p class="logo">F<span class="red"><small>・</small></span>4<span class="yellow"><small>・</small></span>L</p> %>
    <p class="logo"><span class="red">F</span><span class="yellow">4</span><span class="blue">L</span></p>
    <%# <p class="logo">F<span class="red"><small>・</small></span>R<span class="yellow"><small>・</small></span>I<span class="blue"><small>・</small></span>E<span class="red"><small>・</small></span>N<span class="yellow"><small>・</small></span>D<span class="blue"><small>・</small></span>S<span class="red"><small>・</small></span>4<span class="yellow"><small>・</small></span>L<span class="blue"><small>・</small></span>I<span class="red"><small>・</small></span>F<span class="yellow"><small>・</small></span>E</p> %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto align-items-center">
      <%# <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ABOUT THE SERIES", "#", class: "nav-link" %>
      </li>
      <p class="red mb-0">・</p>
      <li class="nav-item">
        <%= link_to "EPISODES", "#", class: "nav-link" %>
      </li>
      <p class="yellow mb-0">・</p>
      <li class="nav-item">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/emzys", class: "avatar dropdown-toggle border border-white m-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      </li>
      <p class="blue mb-0">・</p>
      <li class="nav-item">
        <%= link_to "SIGN OUT", "#", class: "nav-link" %>
      </li>
      <li>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
